@font-face {
  font-family: 'Hatch';
  src: url('fonts/Hatch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{

    background-image: url(fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

h1, p {
    font-family: 'hatch';
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
}
